$base-size: 12px;

// colors
$white: #ffffff;
$lightGrey: #E0E0E0;
$darkGrey: #212121;
$darkBrown: #5D4037;
$lightBrown: #BCAAA4;
$deepGreen: #1B5E20;
$black: #2a2a2a;


// background colors
$bgMain: $lightGrey;
$bgLightBrown: $lightBrown;
$bkWhite: $white;
$bkLightGrey: $lightGrey;
$bkDarkGrey: $darkGrey;
$bkDarkBrown: $darkBrown;
$bkLightBrown: $lightBrown;
$bkDeepGreen: $deepGreen;
$bkBlack: $black;

// font colors
$textMain: $darkGrey;
$textGreen: $deepGreen;


