  
@import '../../../styles/settings.scss';

.root {
  .header {
    background-color: $bkLightBrown;
    
    .buttonWrapper {
      // display: flex;
      justify-content: space-between;
    }

    .logo {
      text-decoration: none;
      color: $bkDeepGreen;
      font-size: 2*$base-size;
      font-weight: 800;
    }

    .button {
      background-color: $bkDeepGreen;
      margin: 5px;
    }
  }
}