@import '../../../styles/settings.scss';

.root {
  margin-top: 20px;

  .card {
    padding: 10px;

    .imageWrapper {
      height: 15rem;
      overflow: hidden;
    }

    .image{
      width: 100%;
      height: auto;
      margin: 0 auto;
      transform: translateY(-25%);
    }
  }
}

@media (min-width: 600px) and (min-height: 800px) {
  .root {
    height: 85vh;
  }
}