@import '../../../styles/settings.scss';

.root {
  margin-top: 5px;

  .footer {
    background-color: $bkLightBrown;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 20px;
    flex-wrap: wrap;

    .copyright {
      margin: auto 0;
    }

    .socialMedia {
      margin: auto auto;

      ul {
        list-style: none;
        display: flex;
        padding-inline-start: 0;

        a {
          color: $textMain;
          margin: 0 10px;

          &:hover {
            color: $textGreen;
          }
        }
      }
    }

    .adress {
      ul {
        list-style: none;
        padding-inline-start: 0;
      }
    }

    ul {
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
